*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    height: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar .navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link{
    color: white;
}
.navbar-nav{
    align-items: center;
}

header , .hero-section , .program-section , .mentorship-section{
    background-color: blue;
}

.btn-first{
    background-color: red;
    color: white;
    padding: 10px 20px;
   text-decoration: none;
    border-radius: 8px;
}


/* Hero Section  */
.btn-second{
    background-color: #50e3ae;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}
.btn-second:hover{
    background-color: red;
    transition: 0.5s;
    color: white;
}


.hero-section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero-section h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-section p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width : 768px) {
   
    .hero-container{
        display: flex;
        flex-direction: row;
        row-gap: 80px;
        text-align: center;
        
    }
    
}
    

.hero-right>img{
    object-fit: cover;
    
}


/* About Section */
.about-section{
    margin-top: 60px;
}
.about-container .row p{
    font-size: 20px;
    line-height: 20px;
    color: gray;
    text-align: justify;
}
.about-container h3{
    color: red;
}
@media screen and (max-width : 768px) {
    .about-container .row h2 , .about-container h3{
        text-align: center;
    }    
    
}

/* Video Section */
.video-section .row{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
   
}
.video-container{
    margin-bottom: -160px;
}

/* Programs Section */
.program-section .container .row , .mentorship-section .container .row{
    text-align: center;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Service Section */
.service-image-background{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #fceeed;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.service-section .container .row{
    text-align: center;
}
.service-section .container .row h3{
    color: red;
}
/* .service-section-image>img{
    object-fit: cover;
} */
@media screen and (min-width:576px){
    .service-section .container .row{
        text-align: left;
    }
    .service-image-background{
        margin-left: 0;
    }
}


/* FAQ section */
.faq-section .container h3{
    color: red;
}
.faq-section-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(251, 250, 250);
}
.faq-section-question h6{
    margin-bottom: 0;
}
.faq-section-content{
    border: 1px solid rgb(234, 229, 229);
    padding: 18px;
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .faq-section-question h6{
        font-size: 18px;
        
    }
}


/* Footer */
footer .container .row .footer-heading h2{
    font-weight: 600;
}
footer .container .row .footer-heading{

    margin-bottom: 20px;
}
footer .container .row .footer-content ul{
    list-style-type: none;
    padding: 0;
}
footer .container .row .footer-content ul li{
    margin-bottom: 10px;
}
footer .container .row .footer-content ul li a{
    color: black;
    text-decoration: none;
}